<mat-nav-list>
   <a mat-list-item routerLink="/dashboard/home"><i class='bx bxs-home-alt-2' ></i> Documentos</a>
   <a mat-list-item routerLink="/dashboard/proceso"><i class='bx bxl-product-hunt'></i> Procesos</a>
   <a mat-list-item routerLink="/dashboard/tipo"><i class='bx bx-radio-circle'></i> Tipos</a>
   <a mat-list-item routerLink="/dashboard/usuarios"><i class='bx bx-user-circle'></i> Usuarios</a>
   <p-confirmPopup></p-confirmPopup>
   <a mat-list-item (click)="cerrar($event)"><i class='bx bx-log-out-circle'></i> Cerrar</a>
</mat-nav-list>