<div class="grid-container">
  <h1 class="mat-h1">Documentos</h1>
  <mat-grid-list cols="" rowHeight="950px">
    <mat-grid-tile >
      <mat-card class="dashboard-card" >
        <mat-card-header>
          <mat-card-title>
              <button pButton pRipple  icon="pi pi-plus" class="p-button-primary" (click)="crear()" ></button>     
          </mat-card-title>
      </mat-card-header>
      <mat-card-content class="dashboard-card-content" rowHeight="950px">
            <hr>
              <div class="card" *ngIf="bloqueo">
                  <p-progressBar mode="indeterminate" [style]="{'height': '6px'}"></p-progressBar>
              </div>
              <br>
              <p-table #dt [value]="datos" [paginator]="true" [rows]="10" [showCurrentPageReport]="true"  [tableStyle]="{'min-width': '50rem'}" 
              [globalFilterFields]="['DOC_ID','DOC_NOMBRE','DOC_CODIGO','DOC_CONTENIDO','TIPO','DOC_ID_PROCESO']" currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries" [rowsPerPageOptions]="[10,25,50]"
              scrollHeight="600px">
                  <ng-template pTemplate="header">
                      <tr>
                          <th pSortableColumn="DOC_ID">ID <p-sortIcon field="ID"></p-sortIcon></th>
                          <th pSortableColumn="DOC_NOMBRE">NOMRE <p-sortIcon field="NOMRE"></p-sortIcon></th>
                          <th pSortableColumn="DOC_CODIGO">CODIGO <p-sortIcon field="CODIGO"></p-sortIcon></th>
                          <th pSortableColumn="DOC_CONTENIDO">CONTENIDO <p-sortIcon field="CONTENIDO"></p-sortIcon></th>
                          <th pSortableColumn="TIPO">TIPO <p-sortIcon field="TIPO"></p-sortIcon></th>
                          <th pSortableColumn="PROCESO">PROCESO <p-sortIcon field="PROCESO"></p-sortIcon></th>
                          <th >ACCION</th>
                      </tr>
                      <tr>
                          <th>
                               <span class="p-input-icon-left">
                                  <i class="pi pi-search"></i>
                                  <input pInputText type="text" (input)="filter($event.target, 'DOC_ID')"  placeholder="ID" class="w-full">
                              </span>
                          </th>
                          <th>
                               <span class="p-input-icon-left">
                                  <i class="pi pi-search"></i>
                                  <input pInputText type="text" (input)="filter($event.target, 'DOC_NOMBRE')"  placeholder="NOMBRE" class="w-full">
                              </span>
                          </th>
                          <th>
                              <span class="p-input-icon-left">
                                  <i class="pi pi-search"></i>
                                <input pInputText type="text" (input)="filter($event.target, 'DOC_CODIGO')"  placeholder="CODIGO" class="w-full">
                              </span>
                          </th>
                          <th>
                              <span class="p-input-icon-left">
                                  <i class="pi pi-search"></i>
                                  <input pInputText type="text" (input)="filter($event.target, 'DOC_CONTENIDO')"  placeholder="CONTENIDO" class="w-full">
                              </span>
                          </th>
                          <th>
                                <span class="p-input-icon-left">
                                  <i class="pi pi-search"></i>
                                  <input pInputText type="text" (input)="filter($event.target, 'TIPO')"  placeholder="TIPO" class="w-full">
                              </span>
                          </th>
                          <th>
                              <span class="p-input-icon-left">
                                      <i class="pi pi-search"></i>
                                  <input pInputText type="text" (input)="filter($event.target, 'PROCESO')"  placeholder="PROCESO" class="w-full">
                              </span>
                          </th>
                          <th>
                          </th>
                      </tr>
                  
                  </ng-template>
                  <ng-template pTemplate="body" let-info let-ri="rowIndex">
                      <tr>
                          <td>
                              {{info.DOC_ID}}
                          </td>
                          <td>
                              {{info.DOC_NOMBRE}}
                          </td>
                          <td>
                              {{info.DOC_CODIGO}}
                          </td>
                          <td>
                              {{info.DOC_CONTENIDO}}
                          </td>
                          <td>
                              {{info.TIPO}}
                          </td>
                          <td>
                              {{info.PROCESO}}
                          </td>
                          <td>
                              <button pButton pRipple  icon="pi pi-file-edit" class="p-button-success" (click)="editar($event,info)" pTooltip="Editar"></button>&nbsp;
                              <button  pButton pRipple  icon="pi pi-trash" class="p-button-danger" (click)="delete($event,info)" pTooltip="Bloquear"></button>
                              <p-confirmPopup></p-confirmPopup>
                          </td>
                      </tr>
                  </ng-template>
                  <ng-template pTemplate="summary">
                      <div class="flex align-items-center justify-content-between">
                          In total there are {{datos ? datos.length : 0 }} Datos.
                      </div>
                  </ng-template>
              </p-table>
         
        </mat-card-content>
      </mat-card>
    </mat-grid-tile>
  </mat-grid-list>
</div>

<p-dialog header="{{modal}}" [(visible)]="visible"  [style]="{width: '50vw',height: '50vw'}" [modal]="true" [draggable]="false"
[resizable]="false" [maximizable]="true">
 
  <div class="card flex justify-content-center p-3"  >
      <h4>NOMBRE</h4>
      <input type="hidden" pInputText  [(ngModel)]="documento.DOC_ID" />
      <input type="text" pInputText  [(ngModel)]="documento.DOC_NOMBRE" [style]="{width: '100%'}"/>
      <br>
  </div>

  <div class="card flex justify-content-center p-3" >
      <h4>CONTENIDO</h4>
      <textarea rows="5" cols="30" pInputTextarea [(ngModel)]="documento.DOC_CONTENIDO"></textarea>
      <br>
  </div>
  
  <div class="row">
    <div class="col-md-6">
        <div class="card flex justify-content-center p-3" >
            <h4>TIPO</h4>
            <p-dropdown [options]="tipo" [(ngModel)]="inp_tipo" optionLabel="name" [filter]="true" filterBy="name"
                    [showClear]="true" placeholder="Seleccione un tipo" [style]="{'width':'100%'}">
                <ng-template pTemplate="selectedItem">
                    <div class="resp-item resp-item-value" *ngIf="inp_tipo">
                        <div> {{inp_tipo.name}}</div>
                    </div>
                </ng-template>
                <ng-template let-resp pTemplate="item">
                    <div class="resp-item">
                        <div><i class="{{resp.img}} "></i> {{resp.name}}</div>
                    </div>
                </ng-template>
            </p-dropdown>
          <br>
      </div>
    </div>
    <div class="col-md-6">
        <div class="card flex justify-content-center p-3" >
            <h4>PROCESO</h4>
            <p-dropdown [options]="proceso" [(ngModel)]="inp_proceso" optionLabel="name" [filter]="true" filterBy="name"
                      [showClear]="true" placeholder="Seleccione un proceso" [style]="{'width':'100%'}">
                  <ng-template pTemplate="selectedItem">
                      <div class="resp-item resp-item-value" *ngIf="inp_proceso">
                          <div> {{inp_proceso.name}}</div>
                      </div>
                  </ng-template>
                  <ng-template let-resp pTemplate="item">
                      <div class="resp-item">
                          <div><i class="{{resp.img}} "></i> {{resp.name}}</div>
                      </div>
                  </ng-template>
              </p-dropdown>
            <br>
        </div>
    </div>
  </div>

  <hr>
  <button pButton pRipple class="p-button-primary" (click)="saveUser($event)" *ngIf="modal=='Crear Documento'">Guardar</button>
  <button pButton pRipple class="p-button-primary" (click)="updateUser($event)" *ngIf="modal=='Editar Documento'">Guardar</button>
</p-dialog>

<p-toast></p-toast>
<p-confirmPopup></p-confirmPopup>


